
<table>
    <thead>
        <th>Name</th>
        <th>Description</th>
    </thead>
    <tbody>
<% @stops.each do |stop| %>
    <tr>
        <td><%= stop.name %></td>
        <td><%= stop.description %></td>
    </tr>
<% end %>
    </tbody>
</table>